body {
    font-family: Serif;
    margin: 20px;
    box-shadow: 0 0 20px 5px #000000;
    height: 100%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
    background-color: #A7362A;
}

header span {
    font-size: 44px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.button {
    float: right;
    font-size: 12px;
    border-left: 1px solid #000000;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #000000;
    transition: color 0.6s ease;
}

.button b {
    font-size: 20px;
}

.button:hover {
    color: #AAAACC;
    transition: color 0.6s ease;
}

footer b {
    font-size: 18px;
}

footer a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

#rotor_pane {
    margin-left: auto;
    margin-right: auto;
    width: 218px;
    height: 60px;
}

.rotor {
    float: right;
    width: 58px;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px 0px #000000;
    margin-right: 10px;
    text-align: center;
}

#key_pane {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 550px;
    height: 80px;
}

#key_pane div {
    box-shadow:  2px 2px 2px 0px #000000;
    border: 1px solid #000000;
    padding-top: 5px;;
    padding-bottom: 5px;;
    width: 30px;
    text-align: center;
    border-radius: 15px;
    float: left;
    margin: 5px;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.pthighlight {
    background-color: #aa5555;
    transition: background-color 0.6s ease;
}

.cthighlight {
    background-color: #5555aa;
    transition: background-color 0.6s ease;
}

#text_pane {
    width: 100%;
    height: 200px;
}

#text_pane div {
    width: 50%;
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    float: left;
}

#webapp {
    background-color: #CEC23B;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 10px 2px #000000;
}

#main_panel {
    padding-top: 40px;
    background-color: #30C030;
}

.up {
    cursor: pointer;
}

.down {
    cursor: pointer;
}
